html {
  width: 100%;
  height: 100;
  background-color: blue;
}

body {
background-color: white;
justify-content: center;
}

header {

}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-around;
  padding-left: 15px;

}

#wrapper {
}

#top {
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 10px;
/*width: 90%;*/
}


#navBar {
  display: flex;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  background-color: #bfbfbf;
  width: 100%;
  height: 55px;
}

#doc {
/*margin-right: 10px;*/
}

#searchSection {
  display: flex;
  flex-direction: row;
  /*background-color: blue;*/
}
